extends layout

block content
  h1= title
  p Rows: #{query.rows}
  p Columns: #{query.cols}
  -
    var rows = Number(query.rows)
    var cols = Number(query.cols)
  if (!Number.isInteger(rows) | !Number.isInteger(cols))
    p Error: number of rows and/or columns is not an integer
  else if (rows < 1 | rows > 6)
    p Error: number of rows is out of range
  else if (cols < 1 | cols > 6)
    p Error: number of columns is out of range
  else
    table#outer
      - for(let i=0; i<rows; i++) { 
          tr#middle
            - for(let j=0; j<cols; j++) {
                td= (i + j) % rows
            - } 
      - }
