extends layout

block content
  h1= title
  p Assignment 10
  button(type="button" class="btn btn-primary" onclick="update()") Push me
  div(id="target") Display
  a(href="/tv") Search Results Page
  script. 
    var client_count = 0
    function update() {
      client_count++
      document.getElementById("target").innerHTML = "Value now " + client_count
    }

